<!DOCTYPE html>
<html>
<body>
<h1>Hillary vs trump</h1>
<%= render :partial => 'script' %>
<button id="button" class="bar">Change to Pie</button>
<div id="container">
	
	<h1>helloo world</h1>
</div>
</body>
</html>