<!DOCTYPE html>
<html>
<head>
	  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
</head>
<body >
	<div id="dabody">
		<div id="wrapper">
			<% @states.each do |state| %>
				<div id="star">
					<button class="state"><%= link_to state.initials, state_path(state.id) %></button>
				</div>
			<% end %>
		</div>
	</div>
</body>
</html>











































