<!DOCTYPE html>
<html>
<head>
	  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
</head>
<body >
	<div id="dabody">
		<div id="header">
		<h1>Know Your State Officals</h1>
		<p class="nav"><%= link_to 'Home',  root_path, class: "nav" %></p>
		<p class="nav">	<%= link_to "Hillary Vs Trump", states_graph_path, class: "nav1"  %></p>
	</div>
		<div id="wrapper">
			<% @states.each do |state| %>
				<div id="star">
					<button class="state"><%= link_to state.initials, state_path(state.id) %></button>
				</div>
			<% end %>
		</div>
	</div>
</body>
</html>











































