<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


	<% @states.each do |state| %>
		<h3><%= link_to state.name, state_path(state.id) %></h3>	
	<% end %>


</body>
</html>











































