*{
	text-align: center;
}
body{
	margin: 0;
}
#header{
	color: black;
	text-align: center;
	background-color: rgba(0, 0, 64, 0.5); 
	width: 100%
}
.nav{
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}
#dabody{
	background: url('https://openclipart.org/image/2400px/svg_to_png/236617/American-Flag-Fractal.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#wrapper {
	padding-top: 5rem;
	column-count: 5;
}

a{
	font-family: 'Kaushan Script', cursive;
	color: black;
	text-decoration: none;
}
h1{
	padding-top: 1rem;
	font-family: 'Special Elite', cursive;
	margin: 0;
}
.state {
	width: 8rem;
	height: 8rem;
	-webkit-border-radius: 70;
  -moz-border-radius: 70;
  border-radius: 70px;
  font-family: Courier New;
  color: #000000;
  font-size: 20px;
  padding: 40px;
  background: #ffffff;
  border: solid #073e61 2px;
  text-decoration: none;
}

.state:hover {
	color: white;
  background: #fc3c3c;
  background-image: -webkit-linear-gradient(top, #fc3c3c, #1238fa);
  background-image: -moz-linear-gradient(top, #fc3c3c, #1238fa);
  background-image: -ms-linear-gradient(top, #fc3c3c, #1238fa);
  background-image: -o-linear-gradient(top, #fc3c3c, #1238fa);
  background-image: linear-gradient(to bottom, #fc3c3c, #1238fa);
  text-decoration: none;
}
